body {
  color: darkblue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 950px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
}