table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 1px solid purple;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    font-size: 22px;
    border: 3px double purple;
}

tfoot {
    font-weight: bold;
}

